<table class='table'>
 <div *ngFor="let cnpj of listacnpj">
    <tr>
      <td>cdEmpresa</td>
      <td>{{cnpj.cdEmpresa}}</td>
    </tr>
    <tr>
      <td>cnpj</td>
      <td>{{cnpj.cnpj}}</td>
    </tr>
    <tr>
      <td>nrIe</td>
      <td>{{cnpj.nrIe}}</td>
    </tr>
    <tr>
      <td>razaoSocial</td>
      <td>{{cnpj.razaoSocial}}</td>
    </tr>
    <tr>
      <td>nomeFantasia</td>
      <td>{{cnpj.nomeFantasia}}</td>
    </tr>
    <tr>
      <td>tipoRecolhimento</td>
      <td>{{cnpj.tipoRecolhimento}}</td>
    </tr>
    <tr>
      <td>situacaoCadastral</td>
      <td>{{cnpj.situacaoCadastral}}</td>
    </tr>
    <tr>
      <td>isNfe</td>
      <td>{{cnpj.isNfe}}</td>
    </tr>
    <tr>
      <td>dtInicio</td>
      <td>{{cnpj.dtInicio}}</td>
    </tr>
    <tr>
      <td>dtPrimeiraNFe</td>
      <td>{{cnpj.dtPrimeiraNFe}}</td>
    </tr>
    <tr>
      <td>isEFD</td>
      <td>{{cnpj.isEFD}}</td>
    </tr>
    <tr>
      <td>dtObrigatoriedadeEFD</td>
      <td>{{cnpj.dtObrigatoriedadeEFD}}</td>
    </tr>
    <tr>
      <td>enderecos</td>
      <td>{{cnpj.enderecos}}</td>
    </tr>
</div>
</table>
