<div>Portfólio de Apresentação de Recursos</div>
<hr />
<div>
  <ul>
    <li><a routerLink="/">Principal</a></li>
    <li><a routerLink="/contatos">Contato</a></li>
    <li><a routerLink="/cnpjs">Cnpj</a></li>
    <li><a routerLink="/cnpjext">Cnpj (Sefaz)</a></li>
    <li><a routerLink="/consultacep">Consulta de CEP</a></li>
  </ul>
</div>
<hr />
<template tdLoading="loadingTemplateRef" tdLoadingType="circular" tdLoadingMode="determinate" tdLoadingStrategy="replace">

</template>
<router-outlet></router-outlet>
